
.imgLogo {
    width: 60px;
}

h1 {
    font-family: Verdana;
    color: transparent;
    font-weight: normal;
    background: linear-gradient(
                #a007e7,
                rgb(130, 112, 235)
                
    );
    
}
.img {
    padding-right: 15%;
  
}

.cards {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
.myProjects {
  padding-left: 9%;
  color:rgb(130, 112, 235);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* estilos para tamaño celular */
@media (max-width:480px){
  .img {
    padding-left: 10%;
    padding-right: 15%;
    width:100%;
    padding-top: 120%;
  }
  .imgLogo {
   padding-right: 40%;
  }

  .myInfo {
    padding-left: 15%;
    padding-bottom: 15%;
    padding-top: 10%;
  }
  .fabFooter {
    display: flex;
    justify-content: center;
   
  }
  .mail {
    padding-bottom: 10%;
  }
  .corazon {
    margin-left: 20%;
    font-size: 30px;
  }
  .myDescription {
    padding-left: 10%;
  }
  .btnCv {
   margin-left: 25%;
  }
  .skills {
    text-align: center;
  }
 
 
}

.myName {
  color:rgb(130, 112, 235);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fabFooter {
  font-size: 50px;
  color: rgb(130, 112, 235);
  padding-left: 8%;
  
}
.contact {
  color: rgb(130, 112, 235);
}
.myDescription {
  padding-top: 5%;
  padding-right: 10%;
  text-align: left;
}
.btn-cv {
  color: rgb(130, 112, 235);
}
.projectsBtn {
  margin-top: 7%
}

.pProjects {
  font-size: 20px;
  text-align: start;
  padding-left: 5%;
  padding-right: 5%;

  }
  .skills {
    color: rgb(130, 112, 235);
  }
 
  .fabSkills {
    font-size: 50px;
    color: rgb(130, 112, 235);
    padding-left: 8%
  }
  .me {
    position: relative;
  }
  .infoDiv {
    margin: 5%;
  }
  .navBar {
    margin-left: 5%;
    margin-right: 5%;
  }
  .myInfo {
    padding-top: 10%;
  }
  #footer {
    display:flex;
  }
  
/* Aqui terminan estilos para tamaño celular */
/* Aqui comienzan los estilos para tarjeta de los proyectos */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.projects {
  background-color: white;
  color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 10px;
  max-width: 270px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  margin-left: 10%;

}

.projects * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.projects:before,
.projects:after {
  background-color: rgba(130, 112, 235, 0.5);
  border-top: 50px  rgba(130, 112, 235, 0.5);
  border-bottom: 50px  rgba(130, 112, 235, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.projects:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.projects:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.projects img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.projects figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.projects h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.projects h3 span {
  display: block;
  font-weight: 700;
}

.projects a {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.projects:hover > img,
.projects.hover > img {
  opacity: 0.7;
}

.projects:hover:before,
.projects.hover:before,
.projects:hover:after,
.projects.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.projects:hover figcaption,
.projects.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* Aqui terminan los estilos para tarjetas de los proyectos */


/* En la clase corazon vamos a llamar latidos en la animación  */
.corazon {
display: inline-block;
font-size: 50px;
text-shadow: 0 0 10px #222,1px 1px  0 #450505;
color: #8270eb;
transform-origin: center;
padding-left: 15%;
}

/* Aqui comienzan los estilos de la transición de letras */
.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 43px;
}
.hello {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 43px;
}

.letter {
  display: inline-block;
  position: relative;
  /* float: left; */
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}
/* Aqui terminan los estilos de la transición de letras*/

.myPhoto {
  overflow: hidden;
  margin: 10px;
  min-width: 315px;
  max-width: 500px;
  width: 100%;
  box-shadow: none !important;
  padding: 16px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 
}

.myPhoto img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  
}

.myPhoto:before,
.myPhoto:after {
  z-index: -1;
  position: absolute;
  content: '';
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0.6;
}

.myPhoto:before {
  background-color:rgb(130, 112, 235);
  top: 0px;
  left: 0px;
  bottom: 32px;
  right: 32px;
}

.myPhoto:after {
  border: 8px solid rgb(130, 112, 235);
  bottom: 0px;
  right: 0px;
  top: 32px;
  left: 32px;
}

.myPhoto a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.myPhoto:hover:before,
.myPhoto.hover:before,
.myPhoto:hover:after,
.myPhoto.hover:after {
  opacity: 1;
}

  
